/* Estilos para el contenedor principal de la página */
.container {
  display: flex; /* Establece la visualización de los elementos como un contenedor flexible */
  border-style: solid; /* Establece el estilo del borde */
  width: 1350px;
}

/* Estilos para el contenedor de cada comando */
.descripcion-container {
  width: 750px;
  margin-bottom: 10px;
  border: 1px solid #343030; /* Borde con color */
  background-color: rgb(178, 175, 175); /* Fondo con opacidad */
  border-radius: 4px; /* Borde redondeado */
}

/* Estilos para la columna del bloc de notas*/
.columna-izquierda {
  flex: 1; /* Establece la flexibilidad de la columna */
  padding: 20px; /* Espacio interno alrededor del contenido de la columna */
  background-color: rgb(215, 215, 215); /* Establece el color de fondo con opacidad */
}

/* Estilos para la columna de los comandos*/
.columna-derecha {
  flex: 2; /* Establece la flexibilidad de la columna */
  padding: 20px; /* Espacio interno alrededor del contenido de la columna */
  background-color: rgb(215, 215, 215); /* Establece el color de fondo con opacidad */
}

/* Estilos para el título de la página */
h1 {
  font-size: 24px; /* Tamaño de fuente */
  margin-top: 0; /* Eliminar margen superior */
  font-family: 'Tahoma', sans-serif; /* Fuente Tahoma */
}

/* Estilos para las filas */
.row {
  display: flex; /* Establece la visualización de los elementos como una fila flexible */
  flex-direction: row; /* Establece la dirección de los elementos en la fila */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en la fila */
  justify-content: space-between; /* Alinea los elementos a lo largo de la fila */
  margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para cada campo de entrada */
.form-group {
  flex-basis: calc(20% - 30px); /* Ancho de campo con margen */
  margin-bottom: 8px; /* Margen inferior */
  display: grid; /* Establece la visualización del contenedor como cuadrícula */
  place-items: center; /* Alinea los elementos de la cuadrícula en el centro */
}

/* Estilos comunes para los campos de entrada */
.form-control {
  border: 1px solid #cbc6c6; /* Borde con color */
  border-radius: 4px; /* Borde redondeado */
  width: 90%; /* Ancho del 90% para que no se choquen */
  padding: 8px; /* Espacio interior */
  font-family: 'Tahoma', sans-serif; /* Fuente Tahoma */
  background-color: rgb(228, 228, 228); /* Fondo con opacidad */
}

/* Estilos para los botones "Comandos","Aprovisionamiento","Modificaciones",etc. */
.btn-primary {
  display: inline-block; /* Establece la visualización del elemento como en línea */
  background-color: #007bff; /* Establece el color de fondo */
  color: #fff; /* Establece el color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  padding: 10px 20px; /* Espaciado interno */
  margin: 5px; /* Margen */
  font-family: 'Tahoma', sans-serif; /* Fuente Tahoma */
  cursor: pointer; /* Cambia el cursor a un puntero */
  transition: all 0.8s ease; /* Transición suave */
}
/* Cambiar estilos en el hover */
.btn-primary:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}
/* Cambiar estilos en el foco */
.btn-primary:focus {
  outline: none; /* Elimina el contorno al enfocar el botón */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.4); /* Agrega una sombra alrededor del botón al enfocarlo */
}

/* Estilos para la lista de comandos y descripciones */
.comando {
  background-color: rgb(228, 228, 228); /* Fondo con opacidad */
  padding: 2px; /* Espaciado interior */
  margin-bottom: 10px; /* Margen inferior entre comandos */
  border: 1px solid #4f4f4f; /* Borde con color */
  border-radius: 4px; /* Borde redondeado */
  font-family: 'Tahoma', sans-serif; /* Fuente Tahoma */
  margin: 5px;
}

/* Estilos para las descripciones */
.comando p {
  font-size: 14px; /* Tamaño de fuente */
  line-height: 1.4; /* Ajuste en la altura de línea para una mejor legibilidad */
  font-weight: bold; /* Texto en negrita */
  margin: 0px; /* Eliminar el margen para que las descripciones estén más pegadas al código */
  padding: 5px; /* Espaciado interior */

}

/* Estilos para los códigos */
.comando .comando-texto {
  font-family: 'Tahoma', sans-serif; /* Fuente Tahoma */
  font-size: 14px; /* Tamaño de fuente para comandos */
  line-height: 1.4; /* Ajuste en la altura de línea para una mejor legibilidad */
  font-weight: normal; /* Texto normal (no en negrita) */
  padding: 5px; /* Espaciado interior */
}

/* Permite resaltar las variables/inputs dentro del código*/
.variable-highlight {
  font-weight: bold; /* Para resaltar las variables en negrita */
  font-size: auto; /* Tamaño de fuente para comandos */
}

/* Estilos para los botones de copia */
.comando .btn-copy {
  background-color: #3c3f4294; /* Color de fondo del botón */
  color: #fff; /* Color de texto del botón */
  border: none; /* Sin borde */
  border-radius: 4px; /* Borde redondeado */
  padding: 3px 10px; /* Espacio interior del botón */
  margin-top: 2px; /* Margen superior entre comando y botón */
  cursor: pointer; /* Cambia el cursor a un puntero */
  transition: all 0.3s ease; /* Transición suave */
}
/* Cambiar estilos en el hover */
.btn-copy:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}
/* Cambiar estilos en el foco */
.btn-copy:focus {
  outline: none; /* Elimina el contorno al enfocar el botón */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.4); /* Agrega una sombra alrededor del botón al enfocarlo */
}

/* Estilos para el mensaje de "Comando copiado" */
.copiado-mensaje {
  position: fixed; /* Establece la posición del elemento como fijo */
  bottom: 10px; /* Ajusta el valor para la posición vertical deseada */
  left: 10px; /* Alineación a la izquierda */
  background-color: rgb(79, 80, 83); /* Fondo con opacidad */
  color: #fff; /* Color de texto */
  padding: 5px 10px; /* Espaciado interior */
  border-radius: 4px; /* Borde redondeado */
  transition: opacity 1.0s; /* Efecto de desvanecimiento de 1 segundo */
  font-family: 'Tahoma', sans-serif; /* Fuente Tahoma */
  font-size: 18px; /* Tamaño de fuente para el mensaje de copiado */
  font-weight: bold; /* Texto en negrita */
}
